In [2]:
import pandas as pd

In [5]:
import openpyxl

In [6]:
print(openpyxl.__version__)

3.1.5

In [ ]:
df = pd.read_excel('C:\\Users\\MY\\Downloads\\CSV_Matrix_2.0_Group_B_dataset.xlsx',header=3)

In [8]:
df.head()

,Unnamed: 0,Problem Statement,"As a cricket analyst at XYZ Sports Analytics, your job is to dig into the Cricket World Cup data to understand how teams play, how players perform, and what makes a winning strategy.",Unnamed: 3
0,NaN,NaN,"By breaking down matches and player stats, hel...",NaN
1,NaN,NaN,Note: The data presented in this Cricket World...,NaN
2,NaN,NaN,NaN,NaN
3,NaN,Input Files Description,NaN,NaN
4,NaN,NaN,NaN,NaN

In [ ]:
# Load the dataset from the provided Excel file (header=3 means starting from the fourth row)
mt = pd.read_excel('C:\\Users\\MY\\Downloads\\matches.xlsx',header=3)

In [18]:
mt.head()

,Unnamed: 0,team1,team2,match_id,venue,city,toss_winner,toss_decision,player_of_match,umpire1,umpire2,reserve_umpire,match_referee,match_type,extras,winner,looser,win_by_runs,win_by_wickets
0,NaN,Afghanistan,England,1,Narendra Modi Stadium,Ahmedabad,England,field,JE Root,HDPK Dharmasena,Nitin Menon,Sharfuddoula,J Srinath,Group,(To be filled by Participants),NaN,NaN,NaN,NaN
1,NaN,Sri Lanka,South Africa,2,Rajiv Gandhi International Stadium,Hyderabad,South Africa,field,KIC Asalanka,AT Holdstock,CM Brown,PR Reiffel,JJ Crowe,Group,NaN,NaN,NaN,NaN,NaN
2,NaN,Netherlands,Pakistan,3,Himachal Pradesh Cricket Association Stadium,Dharamsala,Pakistan,field,Babar Azam,JS Wilson,HDPK Dharmasena,M Erasmus,AJ Pycroft,Group,NaN,NaN,NaN,NaN,NaN
3,NaN,New Zealand,Bangladesh,4,Arun Jaitley Stadium,Delhi,Bangladesh,field,DJ Mitchell,RK Illingworth,Sharfuddoula,AG Wharf,J Srinath,Group,NaN,NaN,NaN,NaN,NaN
4,NaN,India,Australia,5,MA Chidambaram Stadium,Chennai,India,bat,GJ Maxwell,CB Gaffaney,RA Kettleborough,AT Holdstock,RB Richardson,Group,NaN,NaN,NaN,NaN,NaN

In [19]:
mt.head().drop('Unnamed: 0', axis=1)

,team1,team2,match_id,venue,city,toss_winner,toss_decision,player_of_match,umpire1,umpire2,reserve_umpire,match_referee,match_type,extras,winner,looser,win_by_runs,win_by_wickets
0,Afghanistan,England,1,Narendra Modi Stadium,Ahmedabad,England,field,JE Root,HDPK Dharmasena,Nitin Menon,Sharfuddoula,J Srinath,Group,(To be filled by Participants),NaN,NaN,NaN,NaN
1,Sri Lanka,South Africa,2,Rajiv Gandhi International Stadium,Hyderabad,South Africa,field,KIC Asalanka,AT Holdstock,CM Brown,PR Reiffel,JJ Crowe,Group,NaN,NaN,NaN,NaN,NaN
2,Netherlands,Pakistan,3,Himachal Pradesh Cricket Association Stadium,Dharamsala,Pakistan,field,Babar Azam,JS Wilson,HDPK Dharmasena,M Erasmus,AJ Pycroft,Group,NaN,NaN,NaN,NaN,NaN
3,New Zealand,Bangladesh,4,Arun Jaitley Stadium,Delhi,Bangladesh,field,DJ Mitchell,RK Illingworth,Sharfuddoula,AG Wharf,J Srinath,Group,NaN,NaN,NaN,NaN,NaN
4,India,Australia,5,MA Chidambaram Stadium,Chennai,India,bat,GJ Maxwell,CB Gaffaney,RA Kettleborough,AT Holdstock,RB Richardson,Group,NaN,NaN,NaN,NaN,NaN

In [16]:
dl= pd.read_excel('C:\\Users\\MY\\Downloads\\deleveries.xlsx',header=3)
dl.head()

,Unnamed: 0,match_id,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed
0,NaN,1,1,0.1,Afghanistan,England,Rahmanullah Gurbaz,Ibrahim Zadran,RJW Topley,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1,1,0.2,Afghanistan,England,Rahmanullah Gurbaz,Ibrahim Zadran,RJW Topley,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1,1,0.3,Afghanistan,England,Rahmanullah Gurbaz,Ibrahim Zadran,RJW Topley,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1,1,0.4,Afghanistan,England,Ibrahim Zadran,Rahmanullah Gurbaz,RJW Topley,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1,1,0.5,Afghanistan,England,Rahmanullah Gurbaz,Ibrahim Zadran,RJW Topley,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
dl.head().drop('Unnamed: 0',axis=1)

,match_id,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed
0,1,1,0.1,Afghanistan,England,Rahmanullah Gurbaz,Ibrahim Zadran,RJW Topley,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,0.2,Afghanistan,England,Rahmanullah Gurbaz,Ibrahim Zadran,RJW Topley,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,0.3,Afghanistan,England,Rahmanullah Gurbaz,Ibrahim Zadran,RJW Topley,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,0.4,Afghanistan,England,Ibrahim Zadran,Rahmanullah Gurbaz,RJW Topley,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,0.5,Afghanistan,England,Rahmanullah Gurbaz,Ibrahim Zadran,RJW Topley,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Convert columns to numeric where needed to ensure calculations work properly
# - 'ball' should be float to handle ball-by-ball data correctly.
# - 'runs_off_bat', 'wides', and 'noballs' are converted to numeric values to calculate total runs.
dl['ball'] = dl['ball'].astype(float)

In [22]:
dl['runs_off_bat'] = pd.to_numeric(dl['runs_off_bat'],errors='coerce')

In [23]:
dl['wides'] = pd.to_numeric(dl['wides'],errors='coerce').fillna(0)
dl['noballs']= pd.to_numeric(dl['noballs'],errors='coerce').fillna(0)

In [ ]:
# Calculate total runs scored in each ball by adding runs off the bat, wides, and no-balls.
# This helps in getting the actual runs for each delivery, especially important for overs 41-50.
dl['total_runs']= dl['runs_off_bat'] + dl['wides'] + dl['noballs']

In [ ]:
# Extract the over number from the 'ball' column (using int conversion)
# and filter to get only deliveries in the third powerplay (overs 41-50).
dl['overs']= dl['ball'].apply(lambda x:int(x))
third_powerplay_dl = dl[(dl['overs']>=41)&(dl['overs']<=50)]

In [ ]:
# Define a column 'legal_delivery' to identify legal balls (balls without wides or no-balls).
# This is used to accurately count legal deliveries in each over
third_powerplay_dl['legal_delivery'] = (third_powerplay_dl['wides'] == 0) & (third_powerplay_dl['noballs'] == 0)

C:\Users\MY\AppData\Local\Temp\ipykernel_11324\710666184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  third_powerplay_dl['legal_delivery'] = (third_powerplay_dl['wides'] == 0) & (third_powerplay_dl['noballs'] == 0)

In [ ]:
# Group by each team and innings to calculate the total runs scored and total legal deliveries faced in the third powerplay.
# This summary provides the basis for calculating run rates in the third powerplay for each team.
summary_df = third_powerplay_dl.groupby(['batting_team', 'innings']).agg(
    Total_Runs_3rd_Powerplay=('total_runs', 'sum'),
    Total_Deliveries_3rd_Powerplay=('legal_delivery', 'sum')  # Only count legal deliveries
).reset_index()

In [ ]:
# Calculate the run rate for the third powerplay for each team and innings
# Run Rate = (Total Runs Scored) / (Total Overs Played) in the third powerplay
# Total overs is derived by dividing legal deliveries by 6.
summary_df['Run_Rate_3rd_Powerplay'] = (
    summary_df['Total_Runs_3rd_Powerplay'] / (summary_df['Total_Deliveries_3rd_Powerplay'] / 6))

In [54]:
# Calculate the aggregate run rate across both innings for each team in the third powerplay
# This step combines the run rate data for both innings, giving an overall picture for each team.
# Separate the run rates for first and second innings for each team to analyze differences
# The resulting data frames contain run rates for the third powerplay when teams batted first or second.
aggregate_run_rate = summary_df.groupby('batting_team').agg(
    Aggregate_Run_Rate_3rd_PP=('Total_Runs_3rd_Powerplay', 'sum'),  # Total runs across both innings
    Total_Deliveries=('Total_Deliveries_3rd_Powerplay', 'sum')      # Total legal deliveries across both innings
).reset_index()
aggregate_run_rate['Aggregate_Run_Rate_3rd_PP'] = aggregate_run_rate['Aggregate_Run_Rate_3rd_PP'] / (aggregate_run_rate['Total_Deliveries'] / 6)
first_innings_run_rate = summary_df[summary_df['innings'] == 1][['batting_team', 'Run_Rate_3rd_Powerplay']].rename(
    columns={'Run_Rate_3rd_Powerplay': 'Run_Rate_3rd_Powerplay_Batting_First'}
)
second_innings_run_rate = summary_df[summary_df['innings'] == 2][['batting_team', 'Run_Rate_3rd_Powerplay']].rename(
    columns={'Run_Rate_3rd_Powerplay': 'Run_Rate_3rd_Powerplay_Batting_Second'}
)
# Merge all run rate data to have a comprehensive view of each team’s performance in the third powerplay
# Includes aggregate, first innings, and second innings run rates.
run_rate_comparison = pd.merge(first_innings_run_rate, second_innings_run_rate, on='batting_team', how='outer')

In [ ]:
# Calculate the number of wickets taken by each team in the last powerplay and the average deliveries per wicket.
# Group by the bowling team, count the total wickets, and sum legal deliveries in the third powerplay for each bowling team.
wickets_summary = third_powerplay_dl[third_powerplay_dl['wicket_type'].notna()].groupby('bowling_team').agg(
    Total_Wickets_3rd_Powerplay=('wicket_type', 'count'),
    Total_Deliveries_Bowled_3rd_Powerplay=('legal_delivery', 'sum')  # Only count legal deliveries
).reset_index()

# Calculate the average number of deliveries per wicket taken in the last powerplay
# This helps understand the bowling team’s efficiency in taking wickets during this phase.
wickets_summary['Avg_Deliveries_per_Wicket'] = (
    wickets_summary['Total_Deliveries_Bowled_3rd_Powerplay'] / wickets_summary['Total_Wickets_3rd_Powerplay']
)

In [55]:
# Merge the wickets data with run rate data to form the final summary table
final_summary = run_rate_comparison.merge(wickets_summary, left_on='batting_team', right_on='bowling_team', how='left').drop(columns='bowling_team')

# Rename columns for final presentation
final_summary.columns = ['Team', 'Aggregate Run Rate (3rd PP)', 'First Innings Run Rate (3rd PP)', 'Second Innings Run Rate (3rd PP)', 'Wickets Taken (Last PP)', 'Avg Deliveries per Wicket (Last PP)']

# Display the final summary table
print(final_summary)

           Team  Aggregate Run Rate (3rd PP)  First Innings Run Rate (3rd PP)  \
0   Afghanistan                     8.694444                         7.395349
1     Australia                     8.592593                         7.148936
2    Bangladesh                     4.917073                         5.462687
3       England                     8.388889                         7.928571
4         India                     8.261538                         6.953271
5   Netherlands                     7.646512                         7.783784
6   New Zealand                    11.608696                         6.068182
7      Pakistan                     5.871658                         4.896552
8  South Africa                     6.635762                         6.081081
9     Sri Lanka                     7.183673                         8.441860

   Second Innings Run Rate (3rd PP)  Wickets Taken (Last PP)  \
0                                16                       16
1                                28                       28
2                                11                       10
3                                20                       20
4                                30                       30
5                                10                        9
6                                13                       13
7                                17                       17
8                                18                       18
9                                25                       25

   Avg Deliveries per Wicket (Last PP)
0                             1.000000
1                             1.000000
2                             0.909091
3                             1.000000
4                             1.000000
5                             0.900000
6                             1.000000
7                             1.000000
8                             1.000000
9                             1.000000